numpy==1.26.4
Pillow==11.1.0
psycopg2==2.9.10
python-dotenv==1.0.1
streamlit==1.43.2
streamlit_drawable_canvas==0.9.3
torch==2.2.2+cpu
torchvision==0.17.2+cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html


